.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 14px;
    
}

.shop{
    display: grid;
    grid-template-columns: 3fr 1fr;
    position: absolute ;
    
    
    
}
.Cart{
    position: sticky;
}
